[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ERP"]
	path = ERP
	url = https://github.com/cran/ERP
[submodule "FADA"]
	path = FADA
	url = https://github.com/cran/FADA
